@import 'helpers';

body {
	background-color: var(--gray-900);
	color: var(--gray-200);
	font-family: var(--font-family);
	font-size: var(--font-size);
	overflow-x: hidden;
}

.no-scroll {
	overflow: hidden;
}

// prettier-ignore
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	font-weight: 800;
}

h1,
.h1 {
	font-size: calc(2.25em + 2vw);
}

h2,
.h2 {
	font-size: calc(2em + 1.5vw);
}

h3,
.h3 {
	font-size: calc(1.75em + 1vw);
}

h4,
.h4 {
	font-size: calc(1.5em + 0.5vw);
}

h5,
.h5 {
	font-size: 1.25em;
}

h6,
.h6 {
	font-size: 1em;
}

p {
	font-size: 1.6em;
	line-height: 1.5;
}

.button {
	background-color: var(--brand-primary-color);
	color: var(--black);
	font-size: 1.4em;
	font-weight: 700;
	padding: 15px 30px;
	position: relative;
	transition: ease-in-out 0.3s;
}

.site-header,
.site-footer {
	padding: 30px;
}

.site-footer {
	background-color: var(--gray-900);
	color: var(--gray-50);
}

section {
	padding: var(--vertical-2x);
}

.section-details {
	.title {
		border-left: 10px solid var(--gray-50);
		margin-bottom: 30px;
		padding-left: 20px;
	}

	.subtitle {
		color: var(--gray-400);
		margin-bottom: 15px;
	}
}
